@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        color:#444647;
    }
    li{
        padding: 0;
        margin: 0;
        list-style: none;
        color:#444647;
    }
    a{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    h5,p{
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        color:#444647;
        h5{
            font-size: 15px;
            line-height: 1.35;
            letter-spacing: 2.5px;
        }
    }
    .btn{
        border-radius: 0;
    }
    .index_button {
        position: relative;
        height: 30px;
        padding: 0 10px 0 12px;
        border: 1px solid $primary;
        outline: none;
        transition: all 0.3s;
    }
    
}
